.blog-img {
    padding-top: 10px;
    height: 250px;
    overflow: hidden;
}

.blog-img img {
    width: 100%;
}

/* .blog-post-content {
    background-color: rgb(236, 247, 247);
} */

.blog-post-content h2{
    text-align: center;
}

.row{
    display:flex;
    flex-direction: row;
    /* width: 300px; */
}

.row-content{
    flex-direction: column;
    margin-left:0px;
}

.more-article{
    width:200px;
}

.blog-post-meta{
    display:flex;
    /* background-color: rgb(196, 92, 92); */
    justify-content:space-between;
}
.author-info{
    margin: 5px; 
}

.author-name{
    font-size: medium;
    font-weight: 500;
}

.author-info div{
    padding:4px 12px;
}

.social{
    align-content:center;
    padding-right: 75px;
    cursor:pointer;

}